<!doctype html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8f6de878db.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <style>
      .card{
          background-color: rgb(235, 66, 94);
        }
      
        a h5{
          color: white;
        }
      
        .badge {
        position: absolute;
        top: 0;
        right: 0;
      }
  
      .card{
        width: 131px;
        height: 163px;
      }
  
      #id1{
        color: gray;
        text-decoration: none;
      }
        
      </style>
    <title>Student Assignment Page</title>
  </head>
  <body>
    <div class="row">
        <div class="col-sm">
          <nav class="navbar navbar-default" style="background-color: pink;">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand weight-300" href="/<%=course_id%>/assignment/upload">
                  <img src="https://cms.cb.amrita.edu/images/amrita_wide_short_new.png" style="margin-top: -40px; margin-left: 40px;">
              </a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/courses/dashboard/<%=course_id%>" id="id1"><i class="fas fa-arrow-left"></i>   Back to Dashboard</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div style="background:rgb(234,235,185) !important " class="jumbotron text-center">
        <h2><%=foundcourse.courseCode%> - Assignments</h2>
      </div>
    <h4>List of Assignments : </h4>  
    <table class="table table-striped">
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Uploaded By</th>
            <th scope="col">Uploaded Date</th>
            <th scope="col"></th>
        </tr>
        <tr>
            <% if(assignments){ %>
                <% assignments.forEach(function(assignment){ %>
                    <tr>
                        <td><a href="/<%= assignment._id %>>/assignment/download"><%= assignment.fileData.filename.split("-")[0] %></a></td>
                        <td><%= assignment.UploadedBy.name %></td>
                        <td><%= assignment.UploadedDate %></td>
                        <td>
                            <form action="/<%= course_id %>/<%= assignment._id %>/assignment/upload" method="POST" enctype="multipart/form-data">
                                <input type="file" class="form-control" id="myfile" name='newfile'>
                                <input type="submit" class="btn btn-primary">
                            </form>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
        </tr>

    </table>



    <!--button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Submit
    </button-->
    
    <!--div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Attach your file here</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/<%= course_id %>/" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="file" class="form-control" id="myfile" name='newfile'>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>